{% extends 'parent/base.html' %}
{% load static %}
{% block title %} add announcement teacher {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/add_announcement_teacher.css' %}">
{% endblock head %}

{% block content %}

<div class="form-container">
    <h1 class="form-title">ثبت اعلان جدید</h1>

    <form method="post" class="announcement-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="submit-btn">ثبت اعلان</button>
    </form>
</div>

{% endblock content %}
