{% extends 'parent/base.html' %}
{% load static %}
{% block title %} teacher dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard_teacher.css' %}">
{% endblock head %}

{% block content %}

<div class="dashboard-container">

    <h1 class="dashboard-title">نمایش اطلاعات استاد</h1>

    <div class="info-box">
        <p><strong>نام:</strong> {{ first_name }}</p>
        <p><strong>نام خانوادگی:</strong> {{ last_name }}</p>
        <p><strong>دپارتمان:</strong> {{ department }}</p>
        <p><strong>کد استاد:</strong> {{ teacher_code }}</p>
    </div>

    <div class="dashboard-links">

        <a href="{% url 'teacher_portal:settings' %}" class="dash-link">ویرایش اطلاعات شخصی</a>
        <a href="{% url 'teacher_portal:teacher_add_courses' %}" class="dash-link">ارائه درس</a>
        <a href="{% url 'teacher_portal:show_courses' %}" class="dash-link">مشاهده دروس ارائه شده</a>

    </div>

</div>

{% endblock content %}
