{% extends 'parent/base.html' %}
{% load static %}
{% block title %} edit_teacher_profile {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/edit_teacher_profile.css' %}">
{% endblock head %}

{% block content %}
<h1 class="page-title">ویرایش اطلاعات شخصی</h1>

<div class="edit-box">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">ویرایش</button>
    </form>

    {% for message in messages %}
        <div class="message">{{ message }}</div>
    {% endfor %}
</div>

{% endblock content %}
