{% extends 'parent/base.html' %}
{% load static %}
{% block title %} settings {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock head %}

{% block content %}

<div class="settings-container">
    <h1 class="settings-title">تنظیمات</h1>

    <div class="settings-links">
        <a href="{% url 'accounts:password_change' %}" class="setting-link">تغییر رمز عبور</a>
        <a href="{% url 'teacher_portal:edit_teacher_profile' %}" class="setting-link">ویرایش اطلاعات شخصی</a>
    </div>
</div>

{% endblock content %}
