
{% if student %}
    <h1>ثبت نام دانشجو</h1>
    <p>لطفا اطلاعات خود را وارد کنید:</p>

    <form method="post">
        {% csrf_token %}
        <h3> اطلاعات حساب کاربری</h3>
        {{ user_form.as_p }}
        <h3> اطلاعات دانشجویی</h3>
        {{ student_form.as_p }}
        <input type="submit">
    </form>
{% endif %}

{% if teacher %}
    <h1>ثبت نام ستاد</h1>
    <p>لطفا اطلاعات خود را وارد کنید:</p>

    <form method="post">
        {% csrf_token %}
        <h3> اطلاعات حساب کاربری</h3>
        {{ user_form.as_p }}
        <input type="submit">
    </form>
{% endif %}

{% if admin %}
    <h1>ثبت نام ادمین</h1>
    <p>لطفا اطلاعات خود را وارد کنید:</p>

    <form method="post">
        {% csrf_token %}
        <h3> اطلاعات حساب کاربری</h3>
        {{ user_form.as_p }}
        <input type="submit">
    </form>
{% endif %}
