{% extends 'parent/base.html' %}
{% load static %}
{% block title %} Login page{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'css/login_user.css' %}">
{% endblock head %}

{% block content %}


    <h1>ورود به سایت</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ورود</button>
    </form>
    <a href="{% url 'accounts:password_reset' %}">ایا رمز عبور خود را فراموش کردید؟</a>
    <a href="{% url 'accounts:register_students' %}">ثبت نام دانشجو</a>
    <a href="{% url 'accounts:register_teachers' %}">ثبت نام استاد</a>

{% endblock %}