{% extends 'parent/base.html' %}
{% load static %}
{% block title %} password reset confirm{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">

{% endblock head %}

{% block content %}
<h1>تغییر پسورد</h1>
    {% if validlink %}
        <p>لطفا پسورد خود را دو بار وارد کنید</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value='تغییر پسورد'>
        </form>
    {% else %}
        لینک تغییر پسورد شما معتبر نیست.
    {% endif %}
{% endblock content %}