
:root {
    --blue: #3A6DFF;
    --green: #2ECC71;
    --orange: #F39C12;
    --purple: #8e44ad;
    --bg-light: #f7f7f7;
    --text-dark: #333;
    --white: #fff;
}


.edit-container {
    background: var(--white);
    padding: 25px 35px;
    margin: 40px auto;
    width: 60%;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    direction: rtl;
}


.title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
    color: var(--purple);
}


.edit-form p {
    margin-bottom: 18px;
}

.edit-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: var(--blue);
}

.edit-form input,
.edit-form select,
.edit-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: 0.3s;
}

.edit-form input:focus,
.edit-form select:focus,
.edit-form textarea:focus {
    border-color: var(--purple);
    box-shadow: 0 0 6px rgba(142, 68, 173, 0.4);
}


.submit-btn {
    width: 100%;
    padding: 12px;
    background: var(--purple);
    color: var(--white);
    font-size: 17px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #6d3290;
}


.messages {
    margin-top: 20px;
    background: var(--green);
    padding: 10px;
    color: white;
    border-radius: 10px;
    text-align: center;
}
