
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700&display=swap');


body {
    font-family: 'Vazirmatn', sans-serif;
    background: #f2f4f7;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: center;
}

h1 {
    color: #1e3a8a;
    margin-top: 60px;
    font-size: 26px;
}

p {
    font-size: 16px;
    color: #334155;
    margin-top: 15px;
}


a {
    display: inline-block;
    margin-top: 25px;
    font-size: 16px;
    color: #1e40af;
    text-decoration: none;
    padding: 12px 24px;
    background: white;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: 0.3s;
}

a:hover {
    background: #1e40af;
    color: white;
    border-color: #1e40af;
}


@media (max-width: 480px) {
    h1 {
        font-size: 22px;
        margin-top: 40px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
        padding: 10px 18px;
    }
}
