
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700&display=swap');


body {
    font-family: 'Vazirmatn', sans-serif;
    background: #f2f4f7;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: center;
}

h1 {
    color: #1e3a8a;
    margin-top: 40px;
}


a {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #1e40af;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    background: #f0f4f8;
    transition: 0.3s;
}

a:hover {
    background: #1e40af;
    color: white;
}


@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }
    a {
        font-size: 14px;
        padding: 8px 18px;
    }
}
