:root {
    --blue: #3A6DFF;
    --green: #2ECC71;
    --orange: #F39C12;
    --purple: #8e44ad;
    --white: #fff;
    --text-dark: #333;
}


.settings-container {
    background: var(--white);
    padding: 30px 40px;
    margin: 40px auto;
    width: 60%;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    direction: rtl;
}


.title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
    color: var(--purple);
}


.settings-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.setting-item {
    display: block;
    padding: 15px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}


.blue {
    background: var(--blue);
}
.purple {
    background: var(--purple);
}

.setting-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}
