{% extends 'parent/base.html' %}
{% load static %}
{% block title %} student dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'show_announcement_student.css' %}">
{% endblock head %}

{% block content %}


<div class="announcements-container">

    {% for announcement in announcements %}
        <div class="announcement-card">
            <h2 class="course-name">{{ announcement.course.name }}</h2>
            <h3 class="announcement-title">{{ announcement.title }}</h3>

            <p class="announcement-content">
                {{ announcement.content }}
            </p>

            <span class="announcement-date">
                {{ announcement.created_at }}
            </span>
        </div>
    {% endfor %}

</div>


{% endblock content %}